<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TodoList</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="./list_page.html" th:href="@{./}">Home</a></li>
        <li class="breadcrumb-item active">Edit</li>
    </ol>
    <form action="./edit" method="post" th:action="@{./edit(id=${contact.id})}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">姓名:</label>
            <input type="text" class="form-control" id="name" name="name" th:value = "${contact.name}" required>
        </div>
        <div class="form-group">
            <label for="formFile" class="form-label"></label>
            <img th:src=|images/${contact.avatarPath}| alt="Current Avatar" width="50" height="50">
        </div>
        <div class="form-group">
            <label for="formFile" class="form-label">请选择新头像</label>
            <input class="form-control" type="file" id="formFile" name="avatar">
        </div>
        <div class="form-group">
            <label for="email">邮箱:</label>
            <input type="text" class="form-control" id="email" name="email" th:value="${contact.email}" >
        </div>
        <div class="form-group">
            <label for="phone">电话号码:</label>
            <input type="text" class="form-control" id="phone" name="phone" th:value = "${contact.phone}" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

</body>
</html>